html {
    scroll-behavior: smooth;
}

body {
    margin: auto 0;
}

p, h1 {
    font-family: 'Share Tech Mono', monospace;
}

.main-nav {
    display: flex;
    list-style: none;
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    margin: 0;
}

/* MAKES THE NAV BAR SLIDE WITH PAGE SCROLL */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-flex; 
    justify-content: space-between;
    align-items: center;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li:not(:first-child):before {
    content: " | ";
}

li {
    padding: 10px;
}

a {
    color:aliceblue;
    text-decoration: none;
}

.mainClick {
    font-size: 3rem;
    color: blue;
}

/* ADDED THIS to adjust for screen sizes */
@media only screen and (max-width: 900px) {
    .main-nav {
        font-size: 1em;
        padding: 0 auto;
    }
}

@media only screen and (max-width: 900px) {
    .mainClick {
        font-size: 1.5em;
        padding: 0 auto;
    }
}

/* COVER STYLE ADDED */
.container1 {
    display:flex;
    align-items: center;
    justify-content:center;
}

.cover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container2 {
    margin:20px;
    padding:50px;
    display:grid;
    gap: 1px 50px;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(auto-fill, minmax(45%, auto));
   
}

.bioText {
    font-size:2rem;
}

.bioimg {
    width: 100%;
    height: auto;
}

/* ADDED GRID TO PHOTO SECTION */
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.grid-wrapper {
    background-color: blue;
}

/* MAKES ALL CHILDREN OF CLASS="BOX", IMG = 100% */
.box > img {
    width:100%;
}

/* THIS ADD COLOR TO BACKROUND OF IMG AND SHRINKS IMG DOWN BY ADDING PADDING */
.box {
    
    padding: 30px;
    margin: 20px;
}

.box:hover {
    transform:scale(1.1); 
    transition: all 1s;
}

.container3 {
    margin:20px;
    padding:50px;
    display:grid;
    gap: 1px 50px;
    align-items: center;
    justify-content:center;
    grid-template-columns: repeat(auto-fill, minmax(45%, auto));
}

.kaareIMG {
    width: 100%;
    height: auto;
}

.kaareBIO {
    font-size: 1.2rem;
}

.grid-wrapper2 {
    margin: 0px;
    /* padding:50px; */
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: blue;
    display:grid;
    align-items: center;
    /* grid-template-columns: 25% auto 25%; */
    grid-template-columns: 25% auto 25%;
}

.findKaare {
    font-size: 2rem;
    text-align: center;
}

.box2 {
    width:25%;
}

.box3 {
    width:70%;
}

.box4 {
    width: 100%;
    display:flex;
    justify-content:center;
}

.hov:hover {
    transform: rotate(360deg) scale(1.1);
    transition: all 1s;
}

footer {
    margin: 0px;
}

.footlinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px; 
}

.mylink {
    width: 6vh;
    height: auto;
    margin: 0px;
    transition: all 1s;
}

.mylink:hover {
    transform: scale(1.1);
}

.footerText {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 20px;
}

@media only screen and (max-width: 900px) {
    .resize-font {
        font-size: 100%;
        padding: 0 auto;
    }
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/


/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #6ba6e2 0%, #4a86c2 44%, blue 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6ba6e2 0%,#4a86c2 44%, blue 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #6ba6e2 0%,#4a86c2 44%,blue 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #6ba6e2 0%,#4a86c2 44%,blue 100%); /* IE10+ */
    background: linear-gradient(top, #6ba6e2 0%,#4a86c2 44%,blue 100%); /* W3C */
}

.red {

    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}